*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  color: wheat;
  text-decoration: none;
}

.footer {
  background-image: url("../sources/images/marte.png");
  color: wheat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 100vw;
  height: 15vh;
  position: relative;
  z-index: 1;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
a {
  color: wheat;
  text-decoration: none;
}
