/* CSS */
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.NavBar:hover {
  box-shadow: 2px 4px 7px 2px rgba(84, 115, 125, 0.6);
}

.menu {
  display: flex;
  align-items: center;
}

.menulist {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.menulist li {
  margin: 0 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo {
  background-image: url("../sources/images/near.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

/* Estilos para el menú hamburguesa */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .menulist {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: #000;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }

  .menulist.active {
    display: flex;
  }

  .menulist li {
    margin: 1rem 0;
    font-size: 1.2rem;
    text-align: center;
  }
}
