*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
.satelite {
  position: relative;
  margin-top: -80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 40vw;
  margin-left: 27vw;
  z-index: 2;
}
.fotoSatelite {
  margin-top: 30vh;
  width: 60%;
  height: 100%;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  color: wheat;
  padding: 20px;
}
